---
import RootLayout from '../layouts/RootLayout.astro';
---

<RootLayout title="Welcome to Astro.">
  <div class="flex justify-center items-center w-full h-screen">
    <div id="sign-up"></div>
  </div>

  <script is:inline>
    addEventListener('load', async function () {
     await window.Clerk.load();

     window.Clerk.mountSignUp(document.getElementById("sign-up"), {
       signInUrl: "/login",
       afterSignUpUrl: "/",
     });
    });
  </script>

</RootLayout>
