<button
  class="btn btn-circle btn-md drop-shadow-lg border bg-base-100 fixed bottom-3 left-3"
  onclick="
  menu.showModal()
  "
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="h-6 w-6"
    fill="none"
    viewBox="0 0 24 24"
    stroke="currentColor"
    ><path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M4 6h16M4 12h16M4 18h7"></path></svg
  >
</button>

<dialog id="menu" class="modal">
  <div class="modal-box">
    <ul class="dropdown-content z-[1] menu rounded-box w-full">
      <li><a href="/">Home</a></li>
      <li><a href="/games">Make Pick</a></li>
      <li><a href="/scoreboard">Scoreboard</a></li>
      <li><a href="/chat">Chat</a></li>
      <li><a href="/players">Players</a></li>
    </ul>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>
